{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "react",
    "stage-0",
    "es2015",
    "es2016",
    "es2017",
    "env"
  ],
  "plugins": [
    [
        "import",
        {
          "libraryName": "antd-mobile",
          "style": true
        }
    ]
  ]
}
